body {
  background-color: rgba(0, 0, 0, 0.918);
}

.container {
  display: block;
}

.grid {
  
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 138, 218, 0.671);
  margin-left: 50px;
  
}
.grid div {
  width: 20px;
  height: 20px;
}

.tetromino {
  background-color: rgb(255, 2, 2);
  border-radius: 1px;
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 0, 255, 0.529);
  margin-left: 20px;
  position: relative;
      top: -400px;
      right: -235px;
}
.mini-grid div {
  height: 20px;
  width: 20px;
}

.flechas {
  display: flex;
  
  margin-top: 5px;
  position: relative;
      margin-left:55px;
      bottom: 50px;
  
  
}
.btn-move{
  

  height: 60px;
  width: 60px;
  margin: 2px;
  background-color: rgb(129, 122, 155);
  border-radius: 5px;
  
  
  


}
#down{
  margin-top: 50px;
}
.btn-rotate{
  height: 50px;
  width: 50px;
  
  position: relative;
  z-index: 5;
  
  background-color: chartreuse;
  border-radius: 10px;
  margin-left:125px;
     
      bottom: 180px;
 
}

#start-button {
  margin-left: 275px;
  margin-top: 50vh;
  width: 100px;
  height: 60px;
  border: solid black 3px;
  border-radius: 18px;
  background-color: rgb(3, 248, 134);
  position: fixed;
}
#start-button:hover {
  width: 110px;
  height: 70px;
  background-color: rgb(22, 255, 1);
}

h3 {
  margin-left: 275px;
  margin-top: 200px;
  display: flex;
  font-size: 30px;
  position: fixed;

  color: rgb(0, 255, 13);
}

